@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    background-image: url('/assets/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
    font-family: 'Roboto Mono', monospace;

}

.btn.btn-success{
    padding: .4em 2em;
    margin-top: 10px;
    font-size: 1.2em;
}
